body {
    font-family: Arial, sans-serif;
    text-align: center;
}

header {
    background-color: #444;
    color: #fff;
    padding: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    cursor: pointer;
}

#clock-container {
    margin-top: 20px;
}
